.container1{
    display: flex;
}
.width{
   
}
.width{
    display: flex;
   
    height: auto;
    margin: auto;
    position: absolute;
    top: 30%;
    left: 35%;
    background: lightslategray;
    width: 462px;
    padding: 20px;
}
.displayFlex{
   
    display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.settingbtn{
    display: block;
    width: 30px;
    padding: 30px;
}

.settingbtn button{
    margin: 5px;
    width: 100px;
}

.cBtn {
    color: #ffffff;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;

}

.mystyle{
    display: block;
    background-color: #24f54e;
}
.flex{
    display: flex;
}

 .btn1{
    background-color: rgb(21, 94, 94);
}

.btn2{
    background-color: #333333;
}
.btn3{
    background-color: #efefef;
}

.btn4{
    background-color: #efefef;
}
.btn5{
    background-color: #72c3dc;
}
.btn6{
    background-color: #2b8ead;
}
.btn7{
    background-color: #6498a8;
}
.btn8{
    background-color: #bfbfbf;
}

.btn9{
    background-color: #24f54e;
}
